# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log

# IDE settings
.vscode/
.idea/

# Optional npm cache directory
.npm/

# TypeScript cache
*.tsbuildinfo

# Yarn integrity file
.yarn-integrity

# npm-debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

